[rhel7-extra]
name=rhel7-extra
baseurl=http://192.168.122.50/pub/repos/rhel7_extra/
gpgcheck=0
enabled=1

[rhel7-server]
name=rhel7-server
baseurl=http://192.168.122.50/pub/repos/rhel7_server/
gpgcheck=0
enabled=1
